<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olyware.mathlock"
    android:versionCode="5"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWall"
        android:backupAgent="com.olyware.mathlock.utils.AppBackupAgent" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.olyware.mathlock.ShowProgressActivity"
            android:theme="@style/AppThemeBlackFull"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.olyware.mathlock.ShowStoreActivity"
            android:theme="@style/AppThemeBlackFull"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".ScreenService" />

        <activity
            android:name="com.olyware.mathlock.ShowSettingsActivity"
            android:theme="@style/AppThemeBlackFull"
            android:label="@string/menu_settings" >
        </activity>
		<activity
            android:name="com.olyware.mathlock.ShowCustomEditActivity"
            android:theme="@style/AppThemeWall"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
           		<action android:name="com.olyware.mathlock.ShowCustomEditActivity" />
           		<category android:name="android.intent.category.DEFAULT" />
       		</intent-filter>
        </activity>
        
		<receiver
		    android:name=".BootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
        <meta-data
            android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAImXbdgOeV5XdSON5zQBYbgeDfC4N9HkDgWEaSIA" />
    </application>

</manifest>