<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olyware.mathlock"
    android:versionCode="14"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<!-- FOR GOOGLE CLOUD MESSAGING -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWall"
        android:backupAgent="com.olyware.mathlock.utils.AppBackupAgent"
        android:name="MyApplication" >
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.olyware.mathlock.ShowProgressActivity"
            android:theme="@style/AppThemeBlackFull"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.olyware.mathlock.ShowStoreActivity"
            android:theme="@style/AppThemeBlackFull"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".ScreenService" />

        <activity
            android:name="com.olyware.mathlock.ShowSettingsActivity"
            android:theme="@style/AppThemeBlackFull"
            android:screenOrientation="portrait"
            android:label="@string/menu_settings" >
        </activity>
		<activity
            android:name="com.olyware.mathlock.ShowCustomEditActivity"
            android:theme="@style/AppThemeBlackFull"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
           		<action android:name="com.olyware.mathlock.ShowCustomEditActivity" />
           		<category android:name="android.intent.category.DEFAULT" />
       		</intent-filter>
        </activity>
        
		<receiver
		    android:name=".BootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
		<!-- Used for Google Play Store Campaign Measurement-->;
		<service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />
		<receiver android:name=".CustomGAReceiver"
		    android:exported="true" >
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		
		<receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        
        <service android:name=".GcmIntentService" />
        
        <meta-data
            android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAImXbdgOeV5XdSON5zQBYbgeDfC4N9HkDgWEaSIA" />
        <meta-data
            android:name="com.google.android.gms.version"
			android:value="3265130" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>
    </application>

</manifest>